@import '../../utils/common/scss/variables.scss';

$blockName: '.sidebar';

#{$blockName} {
    &__filters-container{
        &-title {
            font-weight: 700;
            font-size: 24px;
            padding: 10px 0px 0;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__clear-filter {
        background: $light-brown !important;
        padding: 5px !important;
        margin: 0 10px;
        width: max-content !important;
    }

    &__filters {
        margin: 10px 15px;
        text-align: center;

        &-title {
            margin: 15px 15px 5px;
            border-bottom: 1px solid $light-brown;
            line-height: 24px;
        }

        &-container {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 20px;
            margin-top: 10px;
        }
    }
}